<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time in different locations</title>
</head>
<body>
<h1>Some (maybe) useful information:</h1>
<h2><ul>
<li>Current time at your location: {{curTime .}}</li>
<li>Current time in Covilha, Portugal: {{covTime .}}</li>
</ul></h2>
<h3><a href="http://localhost/">go back</a></h3>
</body>
</html>
