<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homer Simpson moment</title>
</head>
    <body>
        <h1>Duh, it's Homer Simpson</h1>
        <img src="/homer.png" alt="someone's enjoying their donut ...">
        <h3><a href="http://wings.hodzic.org/">go back</a></h3>
    </body>
</html>
