<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ... ¯\_(ツ)_/¯</title>
</head>
    <body>
        <h1>Hey, only things to see here are:</h1>
        <h2><a href="http://localhost/homersimpson/">Homer Simpson</a></h2>
        <h2><a href="http://localhost/covilha/">What's the time in Covilha?</a></h2>
    </body>
</html>
